.certifications-main{
    min-height: 90vh;
    /* background-color: #44444495; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4%;
    gap: 2%;
    justify-content: space-evenly;
}

.certificate-box{
    width: 47%;
    /* background-color: red; */
    height: auto;
    margin-bottom: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4%;
    height: 70vh;
}

.certificate-top{
    width: 85%;
    display: flex;
    background-color: white;
    height: auto;
}

.certificate-frame{
    box-shadow: 0 0px 12px 0px rgba(255, 217, 0, 0.547);
    /* box-shadow: 0 0px 15px 0px rgba(255, 255, 255, 0.547); */
    width: 100%;
    aspect-ratio: 4.135/3;
    background-image: url('../Assets/Certificates/FrameAsset\ 4.png');
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificate-image{
    height: 88%;
}

.certificate-bottom{
    min-height: 20%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 4%;
}

.certificate-name{
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    color: #ddd;
}

.certificate-type{
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
}
