.education-main{
    /* background-color: red; */
    height: 90vh;
    /* min-height: 90vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 0 0 10%;
    overflow: hidden;
}

.education-div{
    /* background-color: red; */
    min-height: 30vh;
    width: 90%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.edu-left{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.institute{
    font-size: 1.8rem;
    font-weight: 400;
}

.affiliated{
    font-size: 1.2rem;
    font-weight: 400;
    color: #aaa;
}

.course,.edu-right,.score{
    font-size: 1.3rem;
    font-weight: 400;
}

/* .hat-div{
    width: 0;
    height: 0;
    position: relative;
    top: -9vh;
    left: -5vw;
}

.hat-div>img{
    width: 10vw;
} */
