header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5% 10% 1% 10%;
    /* padding: 1% 0% 1% 0;
    width: 80%;
    margin: auto;
    border-radius: 5vh;
    position: sticky;
    top: 1.5vh;
    background-color: #00000090; */
}

.header-link{
    text-decoration: none;
    position: relative;
    color: #ccc;
    font-size: 1.25rem;
    font-weight: 400;
}

.header-link::before{
    content: "";
    height: 2px;
    width: 0%;
    position: absolute;
    background-color: #fff;
    bottom: -2px;
    left: 1px;
    transform-origin: bottom left;
    transition: all ease-in-out 0.3s;  
    /* transform: scale(0); */
}

.lol::before{
    content: "";
    height: 100%;
    width: 0%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    position: absolute;
    /* background-color: #000; */
    bottom: 0px;
    left: 0px;
    z-index:  -1;
    transform-origin: bottom left;
    transition: all ease-in-out 0.3s;  
    /* transform: scale(0); */
}

.lol:hover::before{
    width: 100%;
    /* transform: scaleX(1); */
}
.header-link:hover::before{
    width: 99%;
    /* transform: scaleX(1); */
}

.active{
    position: relative;
}

.active::before{
    content: "";
    height: 2px;
    width: 98%;
    position: absolute;
    background-color: #fff;
    bottom: -2px;
    left: 1px;
    transform: scaleX(1);
}
.active-lol{
    position: relative;
}

.active-lol::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    /* background-color: #000; */
    /* bottom: -2px; */
    /* border: none !important; */
    left: 0px;
    transform: scaleX(1);
}


.navbar-spinner{
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
}