.skills-main{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding: 2%;
    flex-wrap: wrap;
    gap: 5vh;
    padding-bottom: 7%;
    padding-top: 6%;
    /* justify-content: center; */
    padding-left: 20%;
}

.individual-skills{
    width: 40%;
    font-size: 1.6rem;
    font-weight: 300;
}
