@font-face {
  font-family: "captura";
  src: url('./Assets/Captura-HeavyDemo.ttf');
}

@font-face {
  font-family: 'montserrat';
  src: url('./Assets/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: "spartan";
  src: url('./Assets/LeagueSpartan-VariableFont_wght.ttf');
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #ccc;
  font-family: montserrat !important;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 1px;
}

html::-webkit-scrollbar-track {
  background-color: #000;
}

/* video{
  position: fixed;
  z-index: -1;
  width: 100%;
  position: fixed;
  display: none;
  left: 0;
  top: 10vh;
} */

html{
  scroll-behavior: smooth;
  background-color: #000;
  background: url('../src/Assets/bg.png');
  background: url('../src/Assets/peter-gargiulo-cGNCepznaV8-unsplash.jpg');
  /* background: url('../src/Assets/marcel-strauss-lRIMRLE9SOk-unsplash.jpg'); */
  background: url('../src/Assets/joshua-sukoff-57G2uAtnsRw-unsplash.jpg');
  /* background: url('../src/Assets/solid-concrete-wall-textured-backdrop.jpg'); */
  /* background: url('../src/Assets/'); */
  /* background: url('../src/Assets/'); */
  background-size: cover;
  background-attachment: fixed;
}
