@font-face {
  font-family: "captura";
  src: url('./Assets/Captura-HeavyDemo.ttf');
}

@font-face {
  font-family: 'montserrat';
  src: url('./Assets/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: "spartan";
  src: url('./Assets/LeagueSpartan-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Raleway";
  src: url('./Assets/Raleway-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Amsterdam";
  src: url("./Assets/Amsterdam.ttf");
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #ccc;
  font-family: montserrat !important;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 1px;
}

html::-webkit-scrollbar-track {
  background-color: #000;
}

.bg-video{
  position: fixed;
  z-index: -1;
  width: 100%;
  /* display: none; */
  /* height: 100%;; */
  left: 0;
  top: -10vh;
  bottom: 0;
  background-color: #222;
  opacity: 0.3;
  /* filter: contrast(1.2); */
  /* transform: rotateX(180deg); */
  /* transform: rotate(180deg); */
}

html{
  scroll-behavior: smooth;
  background-color: #000;
  /* background: url('../src/Assets/bg.png');
  background: url('../src/Assets/peter-gargiulo-cGNCepznaV8-unsplash.jpg');
  background: url('../src/Assets/joshua-sukoff-57G2uAtnsRw-unsplash.jpg'); */
  /* background: url('../src/Assets/marcel-strauss-lRIMRLE9SOk-unsplash.jpg'); */
  /* background: url('./Assets/joshua-sukoff-57G2uAtnsRw-unsplash.jpg') !important; */
  /* background: url('../src/Assets/solid-concrete-wall-textured-backdrop.jpg'); */
  /* background: url('../src/Assets/'); */
  /* background: url('../src/Assets/'); */
  background-size: cover;
  background: linear-gradient( 30deg,#0e1c26,#2a454b);
  background: linear-gradient(-45deg, #141e30, #111);
  background-attachment: fixed;
}
